<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/ssm-demo/resources/css/bootstrap.min.css" />
<link rel="stylesheet" href="/ssm-demo/resources/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="/ssm-demo/resources/css/bootstrap-combined.min.css">
<script src="/ssm-demo/resources/js/jquery-3.2.1.min.js"></script>
<script src="/ssm-demo/resources/js/bootstrap.min.js"></script>
<title>资讯平台</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">资讯首页</a>
						</div>
						<div>
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">今日头条</a></li>
								<li><a href="#">最热资讯</a></li>
								<li><a href="#">国际新闻</a></li>
								<li><a href="#">军事科技</a></li>
								<li><a href="#">娱乐热点</a></li>
								<li><a href="#">互联网</a></li>
								<li><a href="#">个性推荐</a></li>
								<li><form class="form-search">
										<input class="" type="text" />
										<button type="submit" class="btn">查找</button>
									</form></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown">我的主页<b class="caret"></b>
								</a>
									<ul class="dropdown-menu">
										<li class="divider"></li>
										<li><a href="#">我的资料</a></li>
										<li><a href="#">更新信息</a></li>
										<li><a href="#">我的收藏</a></li>
										<li><a href="#">我的积分</a></li>
										<li><a href="#">签到</a></li>
										<li><a href="#">修改密码</a></li>
										<li><a href="#">退出登录</a></li>
										<li class="divider"></li>
									</ul></li>
								<!-- <li><a href="#">登录</a></li> -->
								<li><a href="#">签到领积分</a></li>
								<!-- <li><a href="#">注册</a></li> -->
								<li><a href="#">退出登录</a></li>

							</ul>
						</div>
					</div>
				</nav>
				<div class="row-fluid span">
					<div class="span8">
						<h3>h3. 这是一套可视化布局系统.</h3>
						<blockquote>
							<p>github是一个全球化的开源社区.</p>
							<small>关键词 <cite>开源</cite></small>
						</blockquote>
						<p>
							<em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
						</p>
						<h3>h3. 这是一套可视化布局系统.</h3>
						<blockquote>
							<p>github是一个全球化的开源社区.</p>
							<small>关键词 <cite>开源</cite></small>
						</blockquote>
						<p>
							<em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
						</p>
						<h3>h3. 这是一套可视化布局系统.</h3>
						<blockquote>
							<p>github是一个全球化的开源社区.</p>
							<small>关键词 <cite>开源</cite></small>
						</blockquote>
						<p>
							<em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
						</p>
						<h3>h3. 这是一套可视化布局系统.</h3>
						<blockquote>
							<p>github是一个全球化的开源社区.</p>
							<small>关键词 <cite>开源</cite></small>
						</blockquote>
						<p>
							<em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
						</p>
						<h3>h3. 这是一套可视化布局系统.</h3>
						<blockquote>
							<p>github是一个全球化的开源社区.</p>
							<small>关键词 <cite>开源</cite></small>
						</blockquote>
						<p>
							<em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
						</p>
						<div class="pagination">
							<ul>
								<li><a href="#">上一页</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">下一页</a></li>
							</ul>
						</div>
					</div>
					<div class="span3">
						<div class="alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<h4>温馨提示!</h4>
							<strong>注意!</strong> 请保管好您的密码.
						</div>
						<ul class="nav nav-list">
							<li class="nav-header">个人中心</li>
							<li class="divider"></li>
							<li class="active">昵称：哈哈哈</li>
							<li>账号：hhh</li>
							<li>积分：300</li>
							<li>收藏：10个</li>
							<li>手机号：17777777777</li>
							<li>邮箱：17777777777@163.com</li>
						</ul>
						<!-- <form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputEmail">邮箱</label>
								<div class="controls">
									<input id="inputEmail" type="text" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputPassword">密码</label>
								<div class="controls">
									<input id="inputPassword" type="password" />
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<label class="checkbox"><input type="checkbox" />
										Remember me</label>
									<button type="submit" class="btn">登陆</button>
								</div>
							</div>
						</form> -->
					</div>
					<div class="span1"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
